.jumbotron {
    background-image: url("image1.jpg");
    background-color: transparent;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }

#map {
    height: 100%;
    margin: 40px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  
  /*Login Modal Styling*/

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .modal-body {
    padding: 2px 16px;
  }

  .modal-footer {
    padding: 2px 
  }